<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
</head>
<body>
    <h1 class="">URL Shortener</h1>

    <% if (locals.user) { %>
     <p>Welcome Back <%= user.username %> !! </p>
    <% } %>

    <div class="container">
        <form action="/url/shorten" method="POST">
            <label for="longUrl">
                Enter URL to shorten:
            </label>
            <input id="longUrl" type="text" name="longUrl" placeholder="https://example.com" required>
    
            <button type="submit"> 
                Shorten URL
            </button>
    
            <% if (locals.shortId) { %>
              <h3>URL Generated : <%= shortId %></h3>
              <a href="<%= longUrl %>"> Redirect </a>
            <% } %>
    
            <% if (locals.allUrls && locals.allUrls.length!=0) { %>
              <h2>All URLs</h2>
              <table>
                <thead>
                    <th>Sl No</th>
                    <th>Long url</th>
                    <th>Short Id</th>
                    <th>Clicks</th>
                </thead>
                <tr>
                    <% allUrls.forEach((url, index) => { %>
                        <td><%= index + 1 %></td>
                        <td><a href="<%= url.longUrl %>"><%= url.longUrl %></a></td>
                        <td><%= url.shortId %></td>
                        <td><%= url.analytics ? url.analytics.length : 0 %></td>
                    </tr>
                    <% }) %>
                </tr>
              </table>
            <% } %>
            
        </form>

        <form action="/user/logout" method="POST">
            <button
            type="submit"
            > Logout </button>
        </form>

    </div>

</body>
</html>